
# Ignore Python compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore coverage and pytest cache
.coverage
*.cover
.cache/
.pytest_cache/

# Ignore plots and output files
plots/
output.txt
*.png

# Ignore virtual environments
venv/
env/
*.venv
*.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore GitHub Actions workflows
.github/workflows/*